/* Style the item cards as displayed in My Profile/AdminView */

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 20px;
  font-weight: 600;
}

.card {
  padding: 0;
  text-align: center;
  display: inline-block;
  background-color: #f0fff0;
  border: solid #013220 1px;
  max-height: 400px;
  max-width: 250px;
  min-width: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 2fr 0.75fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-img,
.card-title,
.card-description {
  border-bottom: solid #013220 1px;
  padding: 1em;
  overflow: hidden;
}

.card-img {
  grid-area: 1 / 1 / 2 / 3;
  padding: 0;
}

.card-title {
  grid-area: 2 / 1 / 3 / 3;
  text-align: left;
}
.card-description {
  grid-area: 3 / 1 / 4 / 3;
  text-align: left;
}

.card-make-available {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid #013220 1px;
}

.card-make-available button {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    monospace;
  font-size: 16px;
}

.card-make-available button:hover {
  background-color: #cee0ce;
  cursor: pointer;
}

.no-button {
  border: none;
  background-color: none;
}

.card-make-available button.no-button:hover {
  background-color: #eaebfd;
  cursor: default;
}

.card-delete {
  grid-area: 4 / 2 / 5 / 3;
  display: table-cell;
}

.card-delete button {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    monospace;
  font-size: 16px;
  color: #a00000;
  font-weight: 600;
}

.card-delete button:hover {
  background-color: #ff012757;
  cursor: pointer;
}
