/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  display: inline-block;
  background-color: none;
  border: solid #013220;
  min-height: 400px;
  max-width: 25%;
}

.section {
  border-bottom: solid #013220;
  padding: 1em 0;
}
