/* Style the counter cards */

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.card {
  padding: 0;
  text-align: center;
  display: inline-block;
  background-color: #f0fff0;
  border: solid #013220 1px;
  max-height: 400px;
  max-width: 250px;
  min-width: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 10px 0px;
}

.card.lend {
  background-color: #f0fff0;
}

.card.request {
  background-color: #eaebfd;
}

.card-img,
.card-title,
.card-description {
  border-bottom: solid #013220 1px;
  padding: 1em;
  overflow: hidden;
}

.card-img {
  grid-area: 1 / 1 / 2 / 3;
  padding: 0;
  position: relative;
}

.card-img .badge {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  text-align: center;
}

.card-title {
  grid-area: 2 / 1 / 3 / 3;
  text-align: left;
  
}

.card-title p {
padding: 2px 0 4px 0;
}

.card-description {
  grid-area: 3 / 1 / 4 / 3;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .card-available,
.card-unavailable {
  /* grid-area: 7 / 1 / 8 / 2; 
  border-right: solid #013220 1px;
  display: table;
} */

/* .card-available p,
.card-unavailable p {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
} */
.badge {
  border-radius: 20px;
}

.badge.available {
  background-color: #88ffa2;
}

.badge.unavailable {
  background-color: #ffffff;
  color: #013220;
}

.badge.request {
  background-color: #4666ff;
  color: white;
}

.card-button {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button button,
.card-button a {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    monospace;
  font-size: 16px;
  color: #013220;
}

.card-button.lend button:hover {
  background-color: #cee0ce;
  cursor: pointer;
}

/* .card-button.lend button:hover {
  background-color: #cee0ce;
  cursor: pointer; */
}

.card-button.request button:hover {
  background-color: #d0d0e1;
  cursor: pointer;
}

.card-button.request button:hover {
  background-color: #c4c5d7;
  cursor: pointer;
}
