/* CSS */

.filter-menu-container {
  padding: 32px 16px;
}

.filter-title {
    padding-bottom: 8px;
}

.categories {
  background-color: #f2faf2;
  color: green;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  margin-block: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: solid green; 1px;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.categories:hover {
  background-color: #c2fbd7;
  border-radius: 100px;
  color: green;
  cursor: pointer;
  display: block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  margin-block: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: scale(1.05) rotate(-1deg);
}

.categories.clicked {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    cursor: pointer;
    display: block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    margin-block: 8px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-size: 16px;
}
